<form [formGroup]="form">

  <div class="col">
    <mat-form-field>
      <mat-label>From Date</mat-label>
      <input matInput [matDatepicker]="txtValueDate1" placeholder="MM/DD/YYYY" name="dateStart"
             formControlName="dateStart"
             [max]="!form.controls['dateEnd'].hasError('dates') ? form.controls['dateEnd'].value : null">
      <mat-datepicker-toggle matSuffix [for]="txtValueDate1"></mat-datepicker-toggle>
      <mat-datepicker #txtValueDate1></mat-datepicker>
      <mat-error *ngIf="form.controls['dateStart'].hasError('dates')">{{form.controls['dateStart'].errors['dates']}}</mat-error>

    </mat-form-field>
  </div>

  <div class="col">
    <mat-form-field>
      <mat-label>To Date</mat-label>
      <input matInput [matDatepicker]="txtValueDate2" placeholder="MM/DD/YYYY" formControlName="dateEnd"
             [min]="!form.controls['dateStart'].hasError('dates') ? form.controls['dateStart'].value : null">
      <mat-datepicker-toggle matSuffix [for]="txtValueDate2"></mat-datepicker-toggle>
      <mat-datepicker #txtValueDate2></mat-datepicker>
      <mat-error *ngIf="form.controls['dateEnd'].hasError('dates')">{{form.controls['dateEnd'].errors['dates']}}</mat-error>
    </mat-form-field>


  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">submit</button>

  <span> Valid :- {{form.valid}}</span>

</form>
